#lista-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.link-externo {
  padding: 13px;
  border: 1px solid #d6d6d6;
  display: inline-block;
  vertical-align: top;
  max-width: 33.33%;
  flex-basis: 33.33%;
}
.link-externo:hover {
  border-color: rgb(125, 192, 230);
}

.link-externo strong {
  display: block;
}
.link-externo span {
  display: block;
}

.none {
  display: none;
}

@media (max-width: 600px) {
  .link-externo {
    max-width: 50%;
    flex-basis: 50%;
  }
}
